

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.appointment-table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.appointment-table th, .appointment-table td{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.appointment-table th{
  color: white;
  background-color: #007bff;
}

.appointment-table tr:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

button{
  border: none;
  background-color: #007bff;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 8px;

}

button:hover{
  background-color: #f1f1f1;
  border: 1px solid #007bff;
  color: #007bff;;
  cursor: pointer;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container{
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;

}

h2{
  text-align: center;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input {
  margin-right: 30px;
}

.btn-app{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}